    *{
        box-sizing: border-box;
        font-family: 'Press Start 2P', cursive;
    }

    :root{
        --font : clamp(6px, 2vw, 16px);
        --font-small : clamp(4px, 1vw, 12px);
    }

    body{
        background-color: black;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    canvas{
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .container{
        position: relative;
        display: inline-block;
    }

    .transition{
        background-color: rgba(0,0,0,1);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        opacity: 0;
        z-index: 99999;
    }

    .FightContainer{
        background-color: white;
        width: 100%;
        height: 28%;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 2px black dashed;
        /* display: flex;        
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .MessageContainer{
        z-index: 99;        
        background-color: white;
        width: 100%;
        height: 28%;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 4px black dashed;
        text-align: left;
        line-height: 150%;
        padding: 1.875%;
        display: none;
        cursor: pointer;
        font-size: var(--font);
    }

    .ButtonAttack{
        background-color: #e4e4e4;        
        cursor: pointer;
        margin: 2px;
        display: flex;        
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        font-size: var(--font);
    }
    
    span.TypeAtk {
        font-size: var(--font-small);
        padding: 6px 8px;
        border-radius: 100px;
        margin-top: 5px;
        color: white;
    }

    .Projet {background: blue;}
    .Scolaire {background: green;}
    .Travail {background: grey;}
    .Marketing {background: yellow;}

    .ButtonAttack:hover{
        background-color: #d6d6d6;
    }

    .FightBox{
        display: none;
    }

    .FightPv{
        background-color: white;
        width: 30%;
        max-width: 200px;
        min-height: 20px;
        position: absolute;
        left: 1.6%;
        top: 0.9%;
        border: 1px black dashed;
        padding: 12px;
    }

    .FightName{
        font-size: var(--font);
    }

    .FightBar{
        background-color: #ccc;
        width: 100%;
        height: 5px;
    }

    .FightBarColor{
        background-color: green;
        width: 100%;
        height: 5px;
        transition: .4s;
        transform: scaleX(1);
        transform-origin: left;
    }

    .Me{    
        flex-direction: column;
        bottom: 29.6%;
        right: 0.9%;
        left: auto;
        top: auto;
    }
